/*General Style*/
html, body, #root {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
}

.flex-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-center-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.flex-center-start {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

/*RenderPictureList*/
.view {
    box-sizing: border-box;
    width: 20%;
    padding: 0 5px;
    margin: 10px 0;
}

/*LoginPage*/
.login-input, .login-form-button {
    width: 300px;
}

.login-form {
    height: 100%;
    width: 100%;
}

#components-form-demo-normal-login .login-form {
    max-width: 300px;
}

#components-form-demo-normal-login .login-form-forgot {
    float: right;
}

#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
    float: left;
}
